<form class="row g-3 needs-validation" novalidate [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="col-12">
        <label class="form-label">Email</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" name="email" class="form-control" required formControlName="email"
                [ngClass]="{ 'is-invalid': loginForm.controls['email'].invalid && loginForm.controls['email'].touched }">
        </div>
        <div class="is-invalid" *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.touched">
            Ingrese su
            correo electronico.</div>
        <div class="is-invalid" *ngIf="loginForm.controls.email.errors?.email && loginForm.controls.email.touched">
            Ingrese un correo electronico valido.</div>
    </div>

    <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" required formControlName="password"
            [ngClass]="{ 'is-invalid': loginForm.controls['password'].invalid && loginForm.controls['password'].touched }">
        <div class="is-invalid"
            *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
            Ingrese su
            contraseña!</div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Login</button>
    </div>

</form>